@font-face {
  font-family: youngRegular;
  src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
  font-family: outfitRegular;
  src: url(/assets/fonts/outfit/static/Outfit-Regular.ttf);
}
@font-face {
  font-family: outfitSemiBold;
  src: url(/assets/fonts/outfit/static/Outfit-SemiBold.ttf);
}
@font-face {
  font-family: outfitBold;
  src: url(/assets/fonts/outfit/static/Outfit-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f3e5d7;
  width:100vw;
  height: max-content;
  display: grid;
  place-content: center;
  padding: 124px 0;
}

main {
  background-color: #fff;
  color: #5f564d;
  max-width : 600px;
  max-height: max-content;
  padding:40px;
  border-radius:24px;
  display: grid;
  gap: 32px;
}

.imageArea > img {
  object-fit: cover;
  max-width: 100%;
}

.titleArea,
.prepArea,
.ingredientsArea,
.instructionsArea,
.nutrientsArea {
  font-family: outfitRegular;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  display : grid;
  gap: 24px;

}

.titleArea{
  display: grid;
  paddin-bottom: 28px;
  grid: 8px;
}

.titleArea > h1 {
  font-family: youngRegular;
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height : 120%;
}

.prepArea {
  background-color: #fff7fb;
}

.prepTimeTitle {
  color: #7a284e;
  font-family: outfitSemiBold;
  font-size: 20px;
  font-weight: 600;
}

.prepArea,
.instructionsArea strong:first-of-type {
  font-family: outfitBold;
  font-weight: 700;
}

.ingredientsTitle,
.instructionsTitle,
.nutrientsTitle {
  color: #854632;
  font-family: youngRegular;
  font-size: 28px;
  font-weight: 400;
}

.nutrientsArea > table tr td:last-child{
  color: #854632;
  font-family: outfitBold;
}


.instructionsArea{
  padding: 32px 0;
}